[submodule "vendor/vendor/DanielLMcGuire/SimpleNewTab"]
	path = vendor/vendor/DanielLMcGuire/SimpleNewTab
	url = https://github.com/DanielLMcGuire/SimpleNewTab.git
[submodule "vendor/vendor/mue/mue"]
	path = vendor/vendor/mue/mue
	url = https://github.com/mue/mue.git
