[submodule "vendor/SimpleNewTab"]
	path = vendor/SimpleNewTab
	url = https://github.com/DanielLMcGuire/SimpleNewTab.git
[submodule "vendor/mue"]
	path = vendor/mue
	url = https://github.com/mue/mue.git
